extends layout

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Salwa Elmohandes

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p 
            | I have a Bachelor of Scince degree in Architecture from Alexandria University and am pursing a Master's degree from Boston Architectural College, in addition to a Techdegree from Treehouse.
            | Using my imagination while coding is my strength just like when I am imagining a new building to design. Having lifelong experiences in business, logic and content managment system,
            | makes me create a clean, professional and functional websites with more attention to the details that makes users experience exceptional and more fun.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript 
          li HTML
          li CSS
          li Express
          li Revit 
          li Adobe(Photoshop,Illustrator,InDesign)
        h6 Contact Info

        ul
          li 413-409-9467
          li elmohandessalwa@gmail.com

        a.button.expanded(href='http://linkedin.com/in/salwa-elmohandes-b42685143') LinkedIn
        a.button.expanded(href='https://github.com/salwaelmohandes') GitHub
        a.button.expanded(href='https://twitter.com/Salwa54378232') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  